.navbar {
  width: 100%;

  &__list {
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
